:root {
    --primary-color: #358C79;
    --sec-color: #2DD36F;
    --light-color: #E8FBF5;
    --dark-color: #0A2E36;
    --green-color: #105742;
    --gray-color: #505D68;
    --black-color: #231F20;
    --seagreen-color: #2A8A86;
    --lightgreen-color: #80CBB5;
    --dullgreen-color: #9EE8B9;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--sec-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
  }
/* FONTS SOURCE */
@font-face {
    font-family: 'poppinsLight';
    src: url('./assets/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'poppinsRegular';
    src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'poppinsMedium';
    src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'poppinsSemibold';
    src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'poppinsBold';
    src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

/* FONTS */
.font-light {
    font-family: 'poppinsLight', Arial, sans-serif !important;
}

.font-regular {
    font-family: 'poppinsRegular', Arial, sans-serif !important;
}

.font-medium {
    font-family: 'poppinsMedium', Arial, sans-serif !important;
}

.font-semibold {
    font-family: 'poppinsSemibold', Arial, sans-serif !important;
}
.font-bold {
    font-family: 'poppinsSemibold', Arial, sans-serif !important;
}

/* FONT SIZES */
.text-xs{
    font-size: 12px !important;
}
.text-sm{
    font-size: 14px !important;
}
.text-lg{
    font-size: 18px !important;
}
.text-xl{
    font-size: 22px !important;
}
.text-2xl{
    font-size: 24px !important;
}

/* TEXT COLORS */
.text-primary2 {
    color: var(--primary-color) !important;
}
.text-lightgreen{
    color: var(--lightgreen-color) !important;
}
.text-seagreen{
    color: var(--seagreen-color) !important;
}
.text-light{
    color: var(--light-color) !important;
}
.text-green{
    color: var(--green-color) !important;
}
.text-gray2{
    color: var(--gray-color) !important;
}
.text-sec{
    color: var(--sec-color) !important;
}
.text-dark{
    color: var(--dark-color) !important;
}

/* BACKGROUND COLORS */
.bg-dullgreen{
    background-color: var(--dullgreen-color) !important;
}
.bg-whitegreen{
    background-color: var(--light-color) !important;
}
.bg-dark{
    background-color: var(--dark-color) !important;
}
.bg-sec{
    background-color: var(--sec-color) !important;
}
.bg-primary2{
    background-color: var(--primary-color) !important;
}
.bg-light{
    background-color: var(--light-color) !important;
}

/* GRADIENTS */
.header-gradient {
    background: linear-gradient(315deg, #154543, #2A8A86) !important;
}

.plan-gradient {
    background: linear-gradient(45deg, #002016, #49BB99) !important;
}

.hero-gradient {
    background: linear-gradient(90deg, #D7F7ED, #EBFBF6) !important;
}
/* GENERAL CLASSES */
.cursor-pointer{
    cursor: pointer !important;
}

/* NAVBAR */
.login-btn {
    color: var(--light-color);
    background-color: var(--seagreen-color);
    border: 2px solid var(--light-color);
    border-radius: 8px;
    padding: 5px 15px;
    margin-left: 40px;
    transition: transform 0.1s ease;
}

.login-btn:hover {
    transform: scale(1.1);
}
/* .nav-inputs{
    border: transparent !important;
    opacity: 0.5;
}
.nav-inputs:focus{
    border: transparent !important;
} */

@media (min-width: 1024px) {
    .header-main{
        padding: 15px 30px !important;
        font-size: 12px;
        font-size: 12px !important;
    }
    .im-doc{
        display: none !important;
    }
    .header-img{
        width: 7rem;
    }
    .hero-heading{
        font-size: 42px;
    }
    .hero-desc{
        margin: 15px 0;
    }
    .take-consult{
        width: 40% !important;
    }
    .footer-last{
        padding: 15px 100px !important;
        font-size: 16px !important;
    }
    .are-main{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .are1{
        width: 50% !important;
    }
    .are2{
        width: 47% !important;
    }
    .doc-list{
        width: 30% !important;
    }
    .footer-list{
        width: 20% !important;
    }
}
@media (min-width: 1280px) {
    .header-main{
        padding: 15px 80px !important;
        font-size: 14px !important;
        font-size: 12px !important;
    }
    .im-doc{
        display: flex !important;
    }
    .header-img{
        width: 8rem;
    }
    .hero-heading{
        font-size: 52px;
    }
    .hero-desc{
        margin: 35px 0;
    }
    .footer-last{
        padding: 15px 100px !important;
        font-size: 18px !important;
    }
}
@media (min-width: 1536px) {
    .header-main{
        padding: 15px 150px !important;
        font-size: 16px !important;
        font-size: 14px !important;
    }
    .header-img{
        width: 10rem !important;
    }
    .footer-last{
        padding: 15px 150px !important;
        font-size: 20px !important;
    }
}